.sideBar {
    /* height: 100vw; */
    width: 100px;
    /* background: blueviolet; */
    padding: 30px 0 0 34.36px;
    cursor: pointer;
}

.vepsbar {
    position: relative;
    left: 34.36px;
    top: 24px;
}

.outerBar {
    height: 870px;
    width: 100px;
    box-shadow: 8px 0px 16px rgba(0, 0, 0, 0.05);
}

.sideimg {
    position: relative;
    padding-bottom: 5px;
}